<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab3</title>
    <link rel="stylesheet" href="/Lab3_mylian/style.css">
</head>
<body>
    <a style="display: block; text-align: right;" href="/">На головну</a>
    <table border="1">
        <tr>
            <th colspan="4"> <img src="/Lab3_mylian/img/brain.gif" alt="">Мої одногрупники</th>
        </tr>
        <tr>
            <td><img src="/Lab3_mylian/img/1.jpg" alt=""></td>
            <td><img src="/Lab3_mylian/img/2.jpg" alt=""></td>
            <td><img src="/Lab3_mylian/img/3.jpg" alt=""></td>
            <td><img src="/Lab3_mylian/img/4.jpg" alt=""></td>
        </tr>
        <tr>
            <td colspan="4">[Коротка біографія студентів]</td>
        </tr>
    </table>
</body>
</html>