<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Lab6_mylian/style.css">
</head>
<body>
    <a style="display: block; text-align: right;" href="/">На головну</a>
    <header>
        <h1>Знаки зодіаку</h1>
    </header>
    <main>
        <section class="zodiac zodiac-2d">
            <h2>♈ Овен</h2>
            <p>21 березня – 19 квітня</p>
            <p>Стихія: Вогонь</p>
        </section>
        <section class="zodiac zodiac-2d">
            <h2>♉ Телець</h2>
            <p>20 квітня – 20 травня</p>
            <p>Стихія: Земля</p>
        </section>
        <section class="zodiac zodiac-2d">
            <h2>♊ Близнюки</h2>
            <p>21 травня – 20 червня</p>
            <p>Стихія: Повітря</p>
        </section>
        <section class="zodiac zodiac-2d">
            <h2>♋ Рак</h2>
            <p>21 червня – 22 липня</p>
            <p>Стихія: Вода</p>
        </section>
        <section class="zodiac zodiac-2d">
            <h2>♌ Лев</h2>
            <p>23 липня – 22 серпня</p>
            <p>Стихія: Вогонь</p>
        </section>
        <section class="zodiac zodiac-2d">
            <h2>♍ Діва</h2>
            <p>23 серпня – 22 вересня</p>
            <p>Стихія: Земля</p>
        </section>
        <section class="zodiac zodiac-3d">
            <h2>♎ Терези</h2>
            <p>23 вересня – 22 жовтня</p>
            <p>Стихія: Повітря</p>
        </section>
        <section class="zodiac zodiac-3d">
            <h2>♏ Скорпіон</h2>
            <p>23 жовтня – 21 листопада</p>
            <p>Стихія: Вода</p>
        </section>
        <section class="zodiac zodiac-3d">
            <h2>♐ Стрілець</h2>
            <p>22 листопада – 21 грудня</p>
            <p>Стихія: Вогонь</p>
        </section>
        <section class="zodiac zodiac-3d">
            <h2>♑ Козеріг</h2>
            <p>22 грудня – 19 січня</p>
            <p>Стихія: Земля</p>
        </section>
        <section class="zodiac zodiac-3d">
            <h2>♒ Водолій</h2>
            <p>20 січня – 18 лютого</p>
            <p>Стихія: Повітря</p>
        </section>
        <section class="zodiac zodiac-3d">
            <h2>♓ Риби</h2>
            <p>19 лютого – 20 березня</p>
            <p>Стихія: Вода</p>
        </section>
    </main>
    <footer>
        <p>Лабораторна робота 6</p>
    </footer>
</body>
</html>