<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Lab8_mylian/style.css">
</head>
<body>
    <a style="display: block; text-align: right;" href="/">На головну</a>
    <main>
        <header class="header">
            <img src="/Lab7_mylian/ps.jpg" alt="">
            <h1>Пес-Патрон: Герой України</h1>
            <p>Пес-Патрон — це справжній символ відваги, надії та вірності для українців. Маленький, але надзвичайно важливий, він став справжнім героєм під час війни, виконуючи важливу роль у розмінуванні територій, що були заражені вибухонебезпечними пристроями.</p>
        </header>
        <section class="main">
            <div class="sidebar">
                <h3>Про Патрона</h3>
                <p>Пес породи джек-рассел-тер'єр на прізвисько Патрон став відомим завдяки своїй роботі на Донбасі, де він допомагає українським саперам виявляти міни та боєприпаси, що залишилися після бойових дій. Його маленькі лапки та високий інтелект дозволяють йому працювати в найнебезпечніших умовах, рятуючи людські життя.Патроном опікуються військові разом із спеціалістами, і він вже врятував не одне життя, продемонструвавши неймовірну відвагу та відданість своїй справі</p>
            </div>
            <div class="mainbar">
                <div class="main-top">
                    <h3>Чому Патрон важливий?</h3>
                    <p>Пес-Патрон є важливим нагадуванням про те, що навіть маленькі герої можуть робити великі справи. Його діяльність не лише рятує життя, а й допомагає відновити мир і стабільність на територіях, постраждалих від конфлікту. Це символ сили духу і відданості своїй справі.</p>
                </div>
                <div class="main-bootom">
                    <div class="section-3">
                        <div class="section-3-1">
                            <h3>Як Патрон допомагає:</h3>
                            <h4>Розмінування</h4>
                            <p>Патрон використовує свій гострий нюх для виявлення мін та вибухонебезпечних предметів, що дає можливість військовим і цивільним особам безпечно проходити через території, які були забруднені мінами або залишками вибухових пристроїв. Це надзвичайно важливо, оскільки багато таких територій не лише становлять небезпеку для життя людей, але й обмежують доступ до необхідних ресурсів чи інфраструктури. Патрон виступає як невтомний "розмінувальник", намагаючись врятувати тих, хто не знає про потенційні загрози.</p>
                            <h4>Підвищення обізнаності</h4>
                            <p>Патрон став обличчям кампанії, що займається поширенням інформації про небезпеку мін. В його образі об’єднані як символ надійності та рішучості, так і меседж про необхідність обережності в зонах, де можуть залишатись вибухові предмети. З допомогою цього героя проводяться освітні кампанії серед місцевого населення, військових, волонтерів та цивільних, які живуть або працюють у таких зонах. Важливою частиною цього є навчання людей правильним діям у випадку виявлення мін чи підозрілих предметів.</p>
                            <h4>Символ надії</h4>
                            <p>Патрон не просто допомагає в практичному розмінуванні, але й став символом надії, стійкості та рішучості для багатьох людей, особливо в регіонах, що постраждали від війни. Його здатність "відчувати" загрози і допомагати людям здолати їх нагадує про важливість боротьби з труднощами, навіть коли здається, що шанси на успіх дуже малі. Патрон нагадує, що навіть у найтемніші часи треба зберігати віру в себе та в допомогу з боку інших, бо тільки завдяки єдності і підтримці можна подолати будь-які перешкоди. В образі Патрона втілена не тільки фізична здатність до розмінування, а й психологічна підтримка — символ того, що навіть у найскладніших обставинах завжди є надія на порятунок і перемогу.</p>
                        </div>
                        <div class="section-3-2">
                            <h3>Як Патрон допомагає:</h3>
                            <ul>
                                <li>Розмінування: Патрон здатний виявляти міни та вибухонебезпечні предмети за допомогою свого гострого нюху, що є надзвичайно важливим для безпечного проходу військових та цивільних осіб.</li>
                                <li>Підвищення обізнаності: Він став справжнім обличчям кампанії з поширення інформації про небезпеку мін та вибухових предметів, що залишаються на забруднених територіях.</li>
                                <li>Символ надії: Патрон — це символ стійкості та рішучості, він надихає багатьох людей, нагадуючи про важливість співпраці та підтримки в труднощах.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-4">
                        <h3>Відмінні риси Патрона:</h3>
                        <h4>Неймовірний нюх:</h4>
                        <p>Патрон володіє надзвичайно розвиненим нюхом, що дозволяє йому виявляти міни та вибухонебезпечні предмети на відстані, це його основна характеристика, яка робить його таким ефективним у своєму завданні. Його чутливість до запахів допомагає рятувати життя, знижуючи ризик для людей, які перебувають у зонах, забруднених мінами.</p>
                        <h4>Рішучість</h4>
                        <p>Хоча він маленький і може здаватися незначним, Патрон не боїться ризикувати заради безпеки інших. Його рішучість і відвага вражають, адже він ніколи не відступає перед небезпекою, навіть коли ситуація виглядає смертельно небезпечною.</p>
                        <h4>Лояльність та відданість</h4>
                        <p>Патрон є вірним помічником і надійним другом для людей, особливо для військових, які виконують свою роботу на передовій. Його відданість і бажання допомогти є основними складовими його характеру. Він завжди готовий до дії, навіть якщо це означає ризик для нього самого.</p>
                        <h4>Емоційна підтримка</h4>
                        <p>Патрон не лише фізично допомагає у розмінуванні, але й є джерелом емоційної підтримки. Його присутність надихає, підтримує дух і нагадує людям, що вони не самі у своїй боротьбі. Його вірність і відвага стали символом стійкості і надії для багатьох.</p>
                        <h4>Символ безпеки</h4>
                        <p>Патрон став символом безпеки, що нагадує про важливість обережності на забруднених територіях. Його присутність є знаковим елементом для створення безпечного середовища для людей, допомагаючи їм бути уважними і обізнаними щодо потенційних загроз.</p>
                        <h4>Інтуїція і чутливість до навколишнього середовища</h4>
                        <p>Патрон володіє надзвичайною інтуїцією, що дозволяє йому швидко орієнтуватися в ситуаціях і знаходити потенційні загрози навіть у найскладніших умовах. Його чутливість до змін у навколишньому середовищі (шум, запахи, рухи) дозволяє йому розпізнавати небезпеку ще до того, як вона стане очевидною для людей. Ця здатність дає йому можливість діяти на випередження, що є надзвичайно важливим для запобігання катастрофам і рятування життів.</p>
                        <h4>Жвавий характер</h4>
                        <p>Попри всю серйозність його місії, Патрон має веселу і жваву натуру. Це робить його дуже привабливим для людей, особливо для дітей, які часто є його прихильниками. Його мила й доброзичлива особистість допомагає людям не лише безпечно пересуватися, але й дає емоційну віддушину у важких умовах. <br> Ці риси роблять Патрона не просто героєм, а й справжнім другом і захисником для тих, хто потребує допомоги в умовах війни та небезпеки.</p>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <h3>Лабораторна робота №8</h3>
            <p>CSS Grid</p>
        </footer>
    </main>
</body>
</html>