<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторна робота 4</title>
    <link rel="stylesheet" href="/Lab4_mylian/1.css">
</head>
<body>
    <a style="display: block; text-align: right;" href="/templates/Lab4_mylian/lab4.html">назад</a>
    <h1>Програмування Internet</h1>
    <h2>Приємно на пари з ранку приходити</h2>
    <h2 class="curs">Приємно бачити добрі очі екзаменатора</h2>
    <h2 id="bgmagenta">Приємно зайти в деканат після сесії</h2>
    <p id="bgmagenta">Приємно не мати "хвостів", <br> бути успішним і <br id="fishka"> упевненим у завтрашньому дні</p>
    <h2 class="curs">Приємно вчасно захищати лабораторні роботи...</h2>
    <hr id="bgyellow" size="8">
    <h2 id="bgyellow" align="center">Мрії прогульника</h2>
    <h2 class="normal">Том 2. Повне зібрання студентських снів</h2>
    <div class="container">
        <div class="column left">
            <h4>Історія виникнення Internet</h4>
            <p>У середині 60-х років міністерство оборони США планувало створити мережу...</p>
        </div>
        <div class="column right">
            <h4>Технологія конструювання програмного забезпечення</h4>
            <p>Технологія конструювання ПЗ – це система інженерних принципів...</p>
        </div>
    </div>
</body>
</html>