<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторна робота 4</title>
    <link rel="stylesheet" href="/Lab4_mylian/3.css">
</head>
<body>
    <a style="display: block; text-align: right;" href="/templates/Lab4_mylian/lab4.html">назад</a>
    <h1>Positiont</h1>  
    <div class="container">
        <div class="box relative">Position: Relative</div>
        <div class="box absolute">Position: Absolute</div>
        <div class="box fixed">Position: Fixed</div>
        <div class="box sticky">Position: Sticky</div>
    </div>
    <h1>Float</h1>
    <div class="float-container clearfix">
        <div class="box float-left">Float: Left</div>
        <div class="box float-right">Float: Right</div>
    </div>
    <h1>Z-index</h1>
    <div class="z-container">
        <div class="box z-index1">Z-index: 1</div>
        <div class="box z-index2">Z-index: 2</div>
    </div>
</body>
</html>
