<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a style="display: block; text-align: right;" href="/">На головну</a>
    <img src="/Lab2_mylian/img/kk.jpeg" alt="" usemap="#image-map">
    <map name="image-map">
        <area alt="Залізна руда" title="Залізна руда" href="https://uk.wikipedia.org/wiki/%D0%97%D0%B0%D0%BB%D1%96%D0%B7%D0%BD%D1%96_%D1%80%D1%83%D0%B4%D0%B8" coords="46,43,45" shape="circle">
        <area alt="Боксит" title="Боксит" href="https://uk.wikipedia.org/wiki/%D0%91%D0%BE%D0%BA%D1%81%D0%B8%D1%82%D0%B8" coords="101,35,177,103" shape="rect">
        <area alt="Золото" title="Золото" href="https://uk.wikipedia.org/wiki/%D0%97%D0%BE%D0%BB%D0%BE%D1%82%D0%BE" coords="218,42,31" shape="circle">
        <area alt="Сріюло" title="Сріюло" href="https://uk.wikipedia.org/wiki/%D0%A1%D1%80%D1%96%D0%B1%D0%BB%D0%BE" coords="304,35,258,103,344,102" shape="poly">
    </map>
    <!-- Таблиця 1 -->
    <table border="1" style="width:40%; height:200px; border:3px solid #800080; margin: 0 auto;">
        <tr style="height:50px;">
            <td style="width:150px; text-align:center;">Data1</td>
            <td style="text-align:center;">Data2</td>
            <td style="text-align:center;">Data3</td>
        </tr>
        <tr style="height:150px;">
            <td style="vertical-align:top; text-align:right;">Data4</td>
            <td style="vertical-align:top; text-align:right;">Data5</td>
            <td style="vertical-align:top; text-align:right;">Data6</td>
        </tr>
    </table>
    <p>Таблиця 1.</p>

    <!-- Таблиця 2 -->
    <table style="width:40%; border:1px solid #008000; border-spacing:5px; padding:10px;">
        <tr>
            <td style="border:1px solid #008000;">Data1</td>
            <td style="border:1px solid #008000;">Data2</td>
            <td style="border:1px solid #008000;">Data3</td>
        </tr>
        <tr>
            <td style="border:1px solid #008000;">Data4</td>
            <td style="border:1px solid #008000;">Data5</td>
            <td style="border:1px solid #008000;">Data6</td>
        </tr>
        <tr>
            <td style="border:1px solid #008000;">Data7</td>
            <td style="border:1px solid #008000;">Data8</td>
            <td style="border:1px solid #008000;">Data9</td>
        </tr>
    </table>
    <p>Таблиця 2.</p>

    <!-- Таблиця 3 -->
    <table style="width:100%; border:2px solid red; border-spacing:30px;">
        <tr>
            <td style="border:1px solid #87CEEB;">Data1</td>
            <td style="border:1px solid red;">Data2</td>
            <td style="border:1px solid red;">Data3</td>
        </tr>
        <tr>
            <td style="border:1px solid red;">Data4</td>
            <td style="border:1px solid red;">Data5</td>
            <td style="border:1px solid #87CEEB;">Data6</td>
        </tr>
    </table>
    <p>Таблиця 3.</p>

    <!-- Таблиця 4 -->
    <table style="width:50%; border-collapse:collapse; border:2px solid #008000;">
        <tr>
            <td style="border:1px solid #008000; padding:10px; text-align:center; color:blue;">Data1</td>
            <td style="border:1px solid #008000; padding:10px; text-align:center;">Data2</td>
            <td style="border:1px solid #008000; padding:10px; text-align:center;">Data3</td>
        </tr>
        <tr>
            <td style="border:1px solid #008000; padding:10px;">Data4</td>
            <td style="border:1px solid #008000; padding:10px;">Data5</td>
            <td style="border:1px solid #008000; padding:10px; color:pink;">Data6</td>
        </tr>
    </table>
    <p>Таблиця 4.</p>

    <!-- Таблиця 5 -->
    <table style="width:50%; border-collapse:collapse; border-left:4px solid #FF69B4; border-right:4px solid #FF69B4;">
        <tr>
            <td style="border-bottom:2px solid #FF69B4;">1</td>
            <td style="border-bottom:2px solid #FF69B4;">2</td>
            <td style="border-bottom:2px solid #FF69B4;">3</td>
        </tr>
        <tr>
            <td style="border-bottom:2px solid #FF69B4;">4</td>
            <td style="border-bottom:2px solid #FF69B4; background-color:#81cb81; text-align:center;">5</td>
            <td style="border-bottom:2px solid #FF69B4;">6</td>
        </tr>
        <tr>
            <td style="border-top:2px solid #FF69B4; background-color:#56ec56; text-align:center;">7</td>
            <td style="border-top:2px solid #FF69B4; background-color:#56ec56; text-align:center;">8</td>
            <td style="border-top:2px solid #FF69B4; background-color:#56ec56; text-align:center;">9</td>
        </tr>
    </table>
    <p>Таблиця 5.</p>

    <!-- Таблиця 6 -->
    <table border="1" style="width:20%;">
        <tr>
            <th rowspan="2">Стать</th>
            <th>Ріст</th>
            <th>Вага</th>
            <th rowspan="2">Вік</th>
        </tr>
        <tr>
            <th colspan="2">Середнє значення</th>
        </tr>
        <tr>
            <td>чоловіки</td>
            <td>174</td>
            <td>78</td>
            <td>30</td>
        </tr>
        <tr>
            <td>жінки</td>
            <td>165</td>
            <td>56</td>
            <td>25</td>
        </tr>
    </table>
    <p>Таблиця 6.</p>

    <!-- Таблиця 7 -->
    <table style="width:70%; border-collapse:collapse; border:2px solid navy; margin: 0 auto;">
        <tr>
            <td style="border:2px solid navy; background-color:lightblue;">Data</td>
            <td style="border:2px solid navy;" colspan="2">Data</td>
            <td style="border:2px solid navy;">Data</td>
        </tr>
        <tr>
            <td style="border:2px solid navy;" rowspan="2">Data</td>
            <td style="border:2px solid navy;" rowspan="3">Data</td>
            <td style="border:2px solid navy;">Data</td>
            <td style="border:2px solid navy;">Data</td>
        </tr>
        <tr>
            <td style="border:2px solid navy; background-color:pink;" colspan="2">Data</td>
        </tr>
        <tr>
            <td style="border:1px solid navy;">&nbsp;</td>
            <td style="border:1px solid navy;">&nbsp;</td>
            <td style="border:1px solid navy; background-color:violet;">Data</td>
        </tr>
    </table>
    <p>Таблиця 7.</p>

    <!-- Таблиця 8 -->
    <p>Таблиця 8. Таблиця вкладена в таблицю.</p>
    <table style="width:40%; border:2px solid lightblue; border-collapse:collapse;">
        <tr>
            <td style="border:1px solid lightblue;">Data</td>
            <td style="border:1px solid lightblue;" rowspan="2">Data</td>
            <td style="border:1px solid lightblue;">Data</td>
        </tr>
        <tr>
            <td style="border:1px solid lightblue;">
                <table style="width:100%; border-collapse:collapse; border:1px solid purple;">
                    <tr>
                        <td style="border:1px solid purple;">Data1</td>
                        <td style="border:1px solid purple;">Data2</td>
                        <td style="border:1px solid purple;">Data3</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid purple;">Data4</td>
                        <td style="border:1px solid purple;">Data5</td>
                        <td style="border:1px solid purple;">Data6</td>
                    </tr>
                </table>
                <p>Таблиця 8.1.</p>
            </td>
            <td style="border:1px solid lightblue;">
                <table style="width:100%; border-collapse:collapse; border:1px solid purple;">
                    <tr>
                        <td style="border:1px solid purple;">Data1</td>
                        <td style="border:1px solid purple;">Data2</td>
                        <td style="border:1px solid purple;">Data3</td>
                    </tr>
                </table>
                <p>Таблиця 8.1.</p>
            </td>
        </tr>
    </table>
</body>
</html>