* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
    padding: 20px;
}

header {
    height: 100vh;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid rgb(233, 233, 233);
}

header img {
    border-radius: 20px;
    margin-bottom: 20px;
}

.sidebar {
    padding: 20px;
    text-align: start;
    border-right: 2px solid rgb(233, 233, 233);
}

.mainbar {
    padding: 20px;
}

.main-top {
    background-color: rgb(235, 235, 235);
    padding: 30px;
    text-align: start;
    border-radius: 20px;
}

.main-bootom {
    display: flex;
    margin-top: 20px;
}

.section-3 {
    max-width: 38%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-3-1 {
    background-color: rgb(235, 235, 235);
    padding: 30px;
    text-align: start;
    border-radius: 20px;
    margin-bottom: 20px;    
} 

.section-3-2 {
    background-color: rgb(235, 235, 235);
    padding: 30px;
    text-align: start;
    border-radius: 20px;
}

.section-4 {
    background-color: rgb(235, 235, 235);
    padding: 30px;
    margin-right: 20px;
    text-align: start;
    border-radius: 20px;
}

.section-5 {
    background-color: rgb(235, 235, 235);
    padding: 30px;
    text-align: start;
    border-radius: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid rgb(233, 233, 233);
}

@media (max-width: 770px) {
    header img {
        max-width: 700px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    header {
        height: auto;
    }

    .section-3 {
        max-width: 100%;
        margin: 0;
    }

    .section-4 {
        margin-top: 20px;
    }

    .sidebar {
        border-right: none; 
    }
    
    .mainbar {
        padding: 0;
    }

    .main-bootom {
        display: flex;
        flex-direction: column; 
    }

}

@media (max-width: 408px) {
    header img {
        max-width: 300px;
    }
}
