<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Lab1_mylian/style/style.css') }}">
</head>
<body>
    <a style="display: block; text-align: right;" href="/templates/Lab1_mylian/lab1.html">На головну</a>
    <h2>Приклад 8: Маленькі великі літери</h2>
    <p class="ex8">Абзац оформлено малими прописними літерами</p>

    
</body>
</html>